header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  top: 0;
  right: 0;
  left: 0; 
  height: 64px;
  width: 100vw;
  background-color: var(--clr-l-1);
  z-index: 1;

  .left-info {
    z-index: 2;
    display: flex;

    .box1 {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      width: 56px;
      height: 64px;
      white-space: nowrap;
      z-index: 2;


      .logo {
        display: block;
        width: 24px;
        height: 25px;
        padding: 0;
        margin: 20px 16px;
      }
    }

    .box2 {
      .logotype {
        display: none;
      }
    }
  }

  .right-info {
    display: flex;
    align-items: center;
    width: 100%;
    height: 64px;
    z-index: 2;

    .container {
      display: flex;
      flex-direction: row;
      flex: 1;
      align-items: center;
      justify-content: space-between;

      .rightright-info {
        display: flex;
        flex-direction: row;
        align-items: center;

        button {
          display: flex;
          justify-content: center;
          align-items: center;
          min-width: 48px;
          min-height: 32px;
          background-color: var(--clr-pp-2);
          border: none;
          border-radius: 9999px;

          img {
            display: block;
          }

          p {
            display: none;
            font-size: 15px;
            font-family: var(--ff);
            font-weight: 700;
            color: var(--clr-l-1);
            white-space: nowrap;
          }
        }

        & > img {
          margin: 0 16px;
        }
      }
      .board-name {
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;

        h1 {
          font-size: 18px;
          font-weight: 700;;
          font-family: var(--ff);
          margin-right: 8px;
        }

        img {
          display: flex;
          width: 8px;
          height: 4px;
        }
      }
    }
  }
}

@media only screen and (min-width: 620px) {
  .header {
    height: 80px;
  }
  header {
    height: 80px;

    .left-info {
      min-width: 200px;
      // overflow: hidden;

      .box1 {
        display: none;
      }
       
      .box2 {
        position: absolute;
        width: 200px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 3;

        .logotype {
          display: block;
          position: relative;
          width: 152.53px;
          height: 25.22px;
        }
      }

      .show {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--clr-pp-1);
        position: absolute;
        top: 744px;
        width: 56px;
        height: 48px;
        border-radius: 0 999px 999px 0;
        cursor: pointer;

        img {
          width: 16px;
          height: 10.22px;
        }
      }
    }
    
    .right-info {
      border-left: 2px solid var(--clr-l-3);
      height: 80px;
      flex: 1;

      .container {
        .board-name {

          margin-left: 24px;

          h1 {
            font-size: 20px;
            margin: 0;
          }
    
          .downchevron {
            display: none;
          }
        }
        
        .addTask {

          .plus {
            display: none;
          }

          .addNewTask {
            display: flex;
            padding: 14px 25px;
            color: white;
          }
        }
      }
    } 
  } 
}
