:root {
  --ff: "Plus Jakarta Sans", Helvetica, sans-serif;

  --clr-pp-1: #635FC7; // Dark purple
  --clr-pp-2: #A8A4FF; // Light purple
  --clr-pp-3: #635FC71A; // Ligther purple
  
  --clr-p-1: #EA5555; // Dark peach
  --clr-p-2: #FF9898; // Light peach

  --clr-l-1: #FFFFFF; // White
  --clr-l-2: #F4F7FD; // Light grey
  --clr-l-3: #E4EBFA; // Lines (light)

  --clr-d-1: #000112; // Dark
  --clr-d-2: #20212C; // Very dark grey
  --clr-d-3: #2B2C37; // Dark grey
  --clr-d-4: #3E3F4E; // Lines (dark)
  --clr-d-5: #828FA3; // Medium grey
  --clr-d-6: #828FA340;

  --clr-r-1: #EA5555; // Red
}
